asgiref==3.9.1
certifi==2025.7.9
charset-normalizer==3.4.2
crispy-bootstrap5==2024.2
dj-database-url==3.0.1
Django==5.1
django-appconf==1.1.0
django-autoslug==1.9.9
django-crispy-forms==2.3
django-extensions==3.2.3
django-filter==24.3
django-imagekit==5.0.0
django-phonenumber-field==8.0.0
django-tables2==2.7.0
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
openpyxl==3.1.5
packaging==25.0
phonenumbers==8.13.43
pilkit==3.0
pillow==11.3.0
psycopg2-binary==2.9.10
requests==2.32.3
sqlparse==0.5.3
tablib==3.6.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
